{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="flex flex-col container px-5 py-10 space-y-4 mx-auto flex flex-wrap text-gray-700">
    
    {% if messages %}
    <div class="text-sm text-center bg-red-50 rounded-2xl px-4 py-2">
        {% for message in messages %}
        <div>{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="pt-4">Generate a random short url or provide a custom hash.</div>

    <form method="post" class="flex flex-col justify-between">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="flex flex-col w-full space-y-2">
            <div class="w-full space-y-4">
                <input
                    required
                    placeholder="URL"
                    value="{{ form.url.value }}"
                    type="text" id="url"
                    name="url"
                    class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 outline-none py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                >
                <span class="text-xs text-red-400">{{ form.url.errors }}</span>
            </div>
            <div class="w-full">
                <input
                    maxlength="10"
                    placeholder="Hash (optional)"
                    value="{{ form.hashed_url.value }}"
                    type="text" id="hashed_url" name="hashed_url"
                    class="flex-1 mb-1 w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                >
                <span class="text-xs text-red-400">{{ form.hashed_url.errors }}</span>
            </div>
        </div>
        <button
            type="submit"
            class="flex mx-auto mt-4 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-sm">
                Create
        </button>
    </form>

    {% if short_url %}
    <div class="flex flex-col md:flex-row justify-between items-center py-4 space-x-2 rounded-lg  p-2 bg-white">
        <input class="flex-1 bg-gray-100 p-1 rounded shadow-2xl border" id="shortUrl" value="{{short_url}}" type='text' readonly/>
        <div class="flex mt-4 md:mt-0 space-x-2">
            <button class="border px-2 py-1 rounded" onclick="copyText()">Copy</button>
            <a class="border px-2 py-1 rounded" target="blank" href="{{short_url}}">Go to page</a>
        </div>
    </div>
    {% endif %}
</div>

<script>
    function copyText() {
      var copyText = document.getElementById("shortUrl");
      copyText.select();
      copyText.setSelectionRange(0, 99999);
      document.execCommand("copy");
    }
</script>
{% endblock content %}
